<h1{
    color: blue;
    text-align: center;
    font-family: 'Tilt Prism', cursive;
}
h2{
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
h3{
    color: blueviolet;
    font-family: 'Tilt Prism', cursive;
}
h4{
    color: black;
    font-family: 'Mynerve', cursive;
}